<div class="container">
  <div class="row">
    <div id="header" class="col-lg-12 header">
        <img id="header_img" src="resources/images/evonymus.png "/>
        <h2 id="header_h2">Banking</h2>
    </div>
  </div>
  <div class="row">
      <!-- <div class="col-lg-4" > -->
      <!--   <app-menu [menuItems]="menuItems" (onMenuItemSelected)="onMenuItemSelected($event)"></app-menu> -->
      <!-- </div> -->
      <!-- <div class="col-lg-8"> -->
      <!--   <app-company-content></app-company-content> -->
      <!-- </div> -->
      <!-- <router-outlet></router-outlet> -->
      <div class="col-lg-12">
        <app-roe-content></app-roe-content>
      </div>
  </div>

</div>
